*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
  }
  body{
    height:100vh;
    background:#f6f6f6;
  }
  
  .interface{
    max-width: 1280px;
    margin: 0 auto;
  }
  .flex{
    display:flex;
  }
  .btn-quarq button{
    padding: 10px 24px;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    color: #fff;
    background-color: #842EBC;
  }
  .btn-quarq button:hover{
    background-color: #7DD9FE;
    color: #3630B3;
  }
  .btn-radius button{
    padding: 10px 24px;
    border: none;
    color: #fff;
    border-radius: 50px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    background-color: #842EBC;
  }
  .btn-radius button:hover{
    background-color: #7DD9FE;
    color: #3630B3;
  }
  
  /* estilo do cabeçalho */
  header{
    padding: 24px 4%;
    box-shadow: 0 0 18px 8px #ffffff1d;
  }
  header > .interface{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  header a {
    color: #842EBC;
    text-decoration: none;
    font-weight: 600;
  }
  header a:hover{
    color:#7DD9FE;
  }
  header nav ul{
    list-style-type: none;
  }
  header nav ul li{
    display: inline-block;
    padding: 0 40px;
  }
  /* Estilo Main one */
  section.main-one{
    padding: 116px 4%;
    background:#fff;
  }
  section.main-one .flex{
    justify-content:center;
    align-items:center;
  }
  section.main-one .home-text form{
    position:relative;
    width:994px;
  }
  section.main-one .home-text form .bar{
    width:100%;
    padding:24px 120px;
    border: 2px solid #842EBC;
    border-radius:50px;
    font-size:24px;
    color:#842EBC;
    outline:none;
  }
  section.main-one .home-text form .bar::placeholder{
    color:#842EBC;
  }
  section.main-one .home-text form .bar:focus{
    border-color:#7DD9FE;
  }
  section.main-one .home-text form .icon-button{
    position:absolute;
    right:50px;
    top:36%;
    border:none;
    background:transparent;
    outline:none;
    cursor:pointer;
    font-size:24px;
    color:#842EBC;
  }
  
  /* Estilo Main one */
  section.main-two{
    padding: 76px 4%;
    background:#fff;
  }
  section.main-two .flex{
    justify-content:center;
    align-items:center;
  }
  section.main-two .main-two-text h3{
    font-size:40px;
    font-weight:600;
    color:#842EBC;
    padding-bottom:72px;
  }
  section.main-two .main-two-text .camp{
    display:flex;
    align-items:center;
    justify-content:space-between;
    width:1202px;
    background:#3630B34d;
    padding: 16px 60px;
    border-radius:70px;
  }
  section.main-two .main-two-text .camp p{
    color:#842EBC;
    font-size:32px;
    font-weight:600;
  }
  
  /* ESTILO DO FOOTER */
  footer{
    padding: 32px 4%;
    background:#842EBC;
  }
  footer .flex{
    justify-content: space-between;
  }
  .btn-social button{
    width: 60px;
    height: 60px;
    border: none;
    border-radius: 50%;
    font-size: 22px;
    cursor: pointer;
    margin: 0 5px;
    background:transparent;
    color: #fff;
  }
  footer .line-footer{
    padding: 40px 0;
  }
  footer .line-footer p i{
    color:#D00000;
    font-size: 20px;
  }
  footer .line-footer p{
    color:#fff;
    font-weight:300;
    font-size: 16px;
    text-align:center;
  }