<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!--STYLE-->
  <link rel="stylesheet" href="{{url_for('static', filename='style/login.css')}}">
  <!--FONTS-->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap" rel="stylesheet">
  <title>UP! - Login</title>
</head>
<body>

  <div class="flash-container">
    {% with messages = get_flashed_messages(with_categories=True) %}
        {% if messages %}
            <div class="flash-messages">
                {% for category, message in messages %}
                    <div class="flash {{ category }}">{{ message }}</div>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}
</div>

  <div class="overlay"></div>
  <div class="content">
    <form action="" method="post">
      <h1>Log-in</h1>
      <div class="input-box">
        <label for="email">E-mail</label><br>
        <input type="text" name="email" required>
      </div>
      <div class="input-box">
        <label for="senha">Senha</label><br>
        <input type="password" name="senha" required>
      </div>
      <div class="esqueci-senha">
        <a href="">Esqueci minha senha?!</a>
      </div>
      <div class="cadastro">
        <p>Não possui Login? <a href="{{url_for('cadastro')}}">Cadastre-se.</a></p>
      </div>
      <button class="btn-login" type="submit">Entrar</button>
    </form>
  </div>
</body>
</html>